<%- include("./partials/header") %>

<div class="container mt-5">
  <h3>All Blogs 😊</h3>
  <% blogs.forEach(blog => { %>

  <div class="card my-3">
    <div class="card-body">
      <p class="text-muted"><%= blog.postedAt %></p>
      <h5 class="card-title"><%= blog.title %></h5>
      <p class="card-text">
        <%= blog.content.slice(0, 99) %> ...
      </p>
      <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read more...</a>
    </div>
  </div>
  <% }) %>
</div>

<%- include("./partials/footer") %>
